{% extends "layout.html" %}

{% block main %}

    <main class="container-fluid py-5 text-center">
        <section class="container contenedor-contacto">
            <h2><span>C</span>ontáctanos</h2>

            <div class="contacto">
                <div class="info-contacto">
                    <div class="contact-el">
                        <i class="fa fa-phone"></i>
                        <div>
                            <b class="titulo-info">Teléfono: </b>
                            <p>0412-3999363</p>
                        </div>
                    </div>

                    <div class="contact-el">
                        <i class="fa fa-envelope"></i>
                        <div>
                            <b class="titulo-info">Correo electrónico: </b>
                            <p>milagrosmorales58@hotmail.com</p>
                        </div>
                    </div>

                    <div class="contact-el">
                        <i class="fa fa-map-signs"></i>
                        <div>
                            <b class="titulo-info">Instagram: </b>
                            <p>@bellaexclusivaatelier</p>
                        </div>
                    </div>
                </div>
                <div id="mapa"></div>
            </div>
        </section>
    </main>

{% endblock %}